/* 
    Document   : mainStyles
    Created on : 5-Dec-2013, 10:22:09 AM
    Author     : Matthew Rowlandson, Colin Cohan, Kevin K
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

